.balance {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 8px 180px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.income {
  color: rgb(0, 163, 0);
  font-size: 18px;
}
.expenses {
  color: rgb(255, 13, 13);
  font-size: 18px;
}
span {
  font-family: Ubuntu, sans-serif;
  font-size: 18px;
}
